


.navbar {background-color:#646057;}



.gallery-section {
	padding: 60px 0;
}

.gallery-section h2 {
	color: #333333;
	text-transform: uppercase;
	font-size: 1.6em;

}

.gallery-section .gallery-box {
	background: #fff;
	padding: 15px;
	display: grid;
	grid-template-columns: repeat(4, auto);
	/*grid-template-rows: repeat(1, 18vw);*/
	grid-auto-rows: 16vw;
	grid-gap: 1rem;
	grid-auto-flow: dense;
}

.gallery-section .gallery-box .box {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	box-shadow: 0px 4px 20px -4px rgba(0, 0, 0, 0.15);
	transition: all .5s ease;
}

.gallery-section .gallery-box .box:hover {
	box-shadow: 0px 4px 40px -4px rgba(0, 0, 0, 0.3);
}

.gallery-section .gallery-box .box.big {
	grid-row: span 2;
	grid-column: span 2;
}

.gallery-section .gallery-box .box.horizontal {
	grid-column: span 2;
}

.gallery-section .gallery-box .box.vertical {
	grid-row: span 2;
}

.gallery-section .gallery-box .box img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	transition: all .5s ease;
}

.gallery-section .gallery-box .box:hover img {
	transform: scale(1.2);
}

@media (max-width: 991px) {
	.gallery-section .gallery-box {
		grid-template-columns: repeat(4, auto);
		grid-auto-rows: 18vw;
	}
}

@media (max-width: 767px) {
	.gallery-section .gallery-box {
		grid-template-columns: repeat(3, auto);
	}
}

@media (max-width: 575px) {
	.gallery-section .gallery-box {
		grid-template-columns: repeat(2, auto);
		grid-auto-rows: 35vw;
	}
}
